/*dark mode toggle*/
.toggle {
  position: relative;
  user-select: none;
}

.toggle-icon {
  animation: wiggle 1s linear;
}

.toggle-icon {
  width: 18px;
  user-select: none;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  user-select: none;
}

.toggle-label:hover {
  background-color: #d7dad5;
}

.toggle-label:active {
  transform: scale(0.95);
}

.transparency {
  opacity: 1;
  transition: all 0.1s ease;
}

.transparency:hover {
  opacity: 0.7;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
:root {
  --dark-bg: #161515;
  --light-bg: #f9f9f9;
  --text-dark: #2d2f2b;
  --text-light: #d6d6d6;
}

.light {
  --text-main: var(--text-dark, black);
  --main-bg: var(--light-bg, white);
}

.dark {
  --text-main: var(--text-light, white);
  --main-bg: var(--dark-bg, black);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.page {
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

main {
  flex: 1 0 auto;
  padding: 0px 8rem;
}

section {
  padding: 5rem 0px;
}

/*Footer*/
footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "roboto", sans-serif, Verdana, Geneva, Tahoma;
  font-size: calc(15px + 0.3vw);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--text-main);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.nav-logo {
  height: 50px;
  width: auto;
}
.nav-logo__item {
  width: 100%;
  height: 100%;
}

header {
  background: rgba(255, 255, 255, 0.4509803922);
  height: 100px;
  top: 0;
  z-index: 100;
  position: sticky;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #0a0d00;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 7px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
}

.toggle .line1,
.toggle .line2,
.toggle .line3 {
  background-color: white;
}

.nav-unique {
  position: absolute;
  right: 0px;
  top: 0vh;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 32vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding: 120px 0px 0px 30px;
  margin-top: 0px;
  gap: 21px;
}

.nav-active {
  transform: translateX(0%);
  margin-top: 0px;
}

.nav-style {
  color: white;
  margin-right: 10px;
}

.nav-style:hover {
  text-decoration: underline;
}

.active {
  color: red;
}

/*button styles*/
.btn {
  font-family: "roboto mono", monospace;
  font-size: 0.9rem;
  margin: 50px auto 0px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #48a274;
  color: #48a274;
  padding: 1.1rem 3rem;
  display: inline-block;
}
.btn-nav {
  margin: 0px;
}
.btn i {
  padding-left: 10px;
}
.btn:hover {
  background-color: #48a274;
  color: var(--main-bg);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*hero*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content {
  max-width: 50vw;
}
.hero-content h1 {
  font-family: "roboto mono", monospace;
  font-size: 1.2rem;
}
.hero-content h2 {
  color: #48a274;
}
.hero-content h2,
.hero-content h3 {
  font-size: 2.2rem;
  margin: 0px;
}

/*projects*/
.projects {
  display: flex;
  flex-direction: column;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.card {
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card:hover {
  top: -10px;
}

.content {
  height: 16rem;
  width: auto;
}

.card-image-makers,
.card-image-cosmo,
.card-image-rainy {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5rem;
}

.card-heading {
  margin-left: 1rem;
  font-family: "roboto mono", monospace;
  font-size: 1rem;
}

/*project specific layout*/
.hero-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  height: 6rem;
  width: auto;
}

.hero-logo img {
  width: auto;
  height: 100%;
}

.makers {
  background-color: #f2ecde;
}

.cosmo {
  background-color: #60e6b2;
}

.rainy {
  background-color: #f6f6f6;
}

.project-heading {
  text-align: center;
}

.project-link {
  margin: 0px 1rem;
  text-decoration: underline;
}

.explanation {
  display: flex;
  margin: 6rem 2rem;
  gap: 2rem;
}

.explanation div {
  flex: 1;
}

.explanation p {
  height: 16rem;
}

/*About*/
.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
}

.about-photo {
  max-width: 300px;
  overflow: hidden;
}

.about-content {
  max-width: 500px;
}

.about-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  bottom: -94px;
  position: relative;
}

.skills li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 7px;
  height: 7px;
  border: 2px solid #48a274;
}

.skills li {
  padding-left: 23px;
  position: relative;
  font-family: "roboto mono", monospace;
  font-size: 1rem;
  margin-bottom: 10px;
}

/*contact*/
.contact-wrapper {
  text-align: center;
  margin-bottom: 10rem;
}

.contact-wrapper p {
  max-width: 500px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */