:root {
  --accent-color: #48a274;
  --font-mono: "roboto mono";
}

.light {
  --text-main: #2d2f2b;
  --main-bg: #f9f9f9;
  --shadow: #d7dad5;
}

.dark {
  --text-main: #d6d6d6;
  --main-bg: #080808;
  --shadow: #e0e0e0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

nav {
  display: flex;
}

.page {
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

html,
body {
  height: 100vh;
}

main {
  flex: 1 0 auto;
  padding: 0px 8rem;
}

section {
  padding: 5rem 0px;
}

/*Footer*/
footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "roboto", sans-serif, Verdana, Geneva, Tahoma;
  font-size: calc(15px + 0.3vw);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--text-main);
}

a {
  text-decoration: none;
  color: var(--text-main);
}

/*header*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links__list {
  display: flex;
  gap: 2rem;
}

.logo {
  height: 50px;
  width: auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

/*button styles*/
.large-button,
.contact-button {
  font-family: var(--font-mono), sans-serif, Verdana, Geneva, Tahoma;
  font-size: 0.9rem;
  margin: 50px auto 0px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  text-decoration: none;
  padding: 1.1rem 3rem;
  display: inline-block;
}

.large-button i,
.contact-button i {
  padding-left: 10px;
}

.large-button:hover,
.contact-button:hover {
  background-color: var(--accent-color);
  color: var(--main-bg);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*dark mode toggle*/
.toggle {
  position: relative;
  user-select: none;
}

.toggle-icon {
  animation: wiggle 1s linear;
}

.toggle-icon {
  width: 22px;
  user-select: none;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid var(--text-main);
  padding: 4px;
  border-radius: 50px;
  width: 80px;
  margin: 0 auto;
  background-color: var(--text-bg);
  transition: all 0.3s ease;
  user-select: none;
}

.toggle-label:hover {
  background-color: var(--shadow);
}

.toggle-label:active {
  transform: scale(0.95);
}

.transparency {
  opacity: 1;
  transition: all 0.1s ease;
}

.transparency:hover {
  opacity: 0.7;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*hero*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-family: var(--font-mono);
  font-size: 1.2rem;
}

.hero h2 {
  color: var(--accent-color);
  font-size: 2.2rem;
  margin: 0px;
}

.hero h3 {
  font-size: 2.2rem;
  margin: 0px;
}

.hero p {
  margin: 1rem 0px;
  max-width: 50vw;
}

.hero-content {
  max-width: 60vw;
}

/*projects*/
.projects {
  display: flex;
  flex-direction: column;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.card-layout a {
  cursor: pointer;
}

.card {
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card:hover {
  top: -10px;
}

.content {
  height: 16rem;
  width: auto;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image-makers,
.card-image-cosmo,
.card-image-rainy {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5rem;
}

.card-heading {
  margin-left: 1rem;
  font-family: var(--font-mono), sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1rem;
}

/*project specific layout*/
.hero-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  height: 6rem;
  width: auto;
}

.hero-logo img {
  width: auto;
  height: 100%;
}

.makers {
  background-color: #f2ecde;
}

.cosmo {
  background-color: #60e6b2;
}

.rainy {
  background-color: #f6f6f6;
}

.project-heading {
  text-align: center;
}

.project-link {
  margin: 0px 1rem;
  text-decoration: underline;
}

.explanation {
  display: flex;
  margin: 6rem 2rem;
  gap: 2rem;
}

.explanation div {
  flex: 1;
}

.explanation p {
  height: 16rem;
}

/*About*/
.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  list-style: none;
}

.about-photo {
  max-width: 300px;
  overflow: hidden;
}

.about-content {
  max-width: 500px;
}

.about-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  bottom: -94px;
  position: relative;
}

.skills li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 7px;
  height: 7px;
  border: 2px solid var(--accent-color);
}

.skills li {
  padding-left: 23px;
  position: relative;
  font-family: "Roboto Mono";
  font-size: 1rem;
  margin-bottom: 10px;
}

/*contact*/
.contact-wrapper {
  text-align: center;
  margin-bottom: 10rem;
}

.contact-wrapper p {
  max-width: 500px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */