//button styles

.btn {
  font-family: $font-mono;
  font-size: 0.9rem;
  margin: 50px auto 0px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $accent-color;
  color: $accent-color;
  padding: 1.1rem 3rem;
  display: inline-block;

  &-nav {
    margin: 0px;
  }

  i {
    padding-left: 10px;
  }

  &:hover {
    background-color: $accent-color;
    color: var(--light-bg);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.back-link {
  i {
    margin-right: 0.5rem;
  }
}
