//dark mode toggle

.toggle-style {
  position: relative;
  user-select: none;

  .toggle-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    user-select: none;
  }

  .toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: $light-bg;
    transition: all 0.3s ease;
    user-select: none;
    width: 23px;
    height: auto;

    &__icon {
      width: 100%;
      user-select: none;
      animation: wiggle 1s linear;
    }

    &:hover {
      background-color: $shadow;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
