*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

//card styles

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  border: 1px solid #fffefe45;

  &:hover {
    top: -10px;
  }

  &-content {
    height: 16rem;
    width: auto;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 5rem;
    }
  }

  &-heading {
    padding: 1rem;
    margin: 0px;
  }
}

//Background colours for cards and project specific hero
.homeland {
  background-color: #f8e5db;
}

.makers {
  background-color: #f2ecde;
}

.white {
  background-color: #f6f6f6;
}

.soles {
  background-color: black;
}

.cosmo {
  background-color: #60e6b2;
}
