*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  &:focus-within {
    scroll-behavior: smooth;
  }
}

//card styles

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  border: 1px solid #fffefe45;

  &:hover {
    top: -10px;
  }

  &-content {
    height: 15rem;
    width: auto;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__nologo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-heading {
    padding: 0px 1rem;
  }

  &-text {
    padding: 1rem;
    margin: 0px;

    &_tools {
      display: flex;
      gap: 1rem;
      color: grey;
      font-family: $font-mono;
      margin-bottom: 0.5rem;
    }

    &_heading {
      margin: 0px;
    }
  }
}

//Background colours for cards and project specific hero
.homeland {
  background-color: #f8e5db;
  padding: 3rem;
}

.makers {
  background-color: #f2ecde;
  padding: 3rem;
}

.white {
  background-color: #f6f6f6;
  padding: 3rem;
}

.soles {
  background-color: black;
  padding: 3rem;
}

.cosmo {
  background-color: #60e6b2;
  padding: 3rem;
}
