//hero

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-content {
    max-width: 50vw;
    @media only screen and (max-width: 600px) {
      max-width: 100vw;
    }

    h1 {
      font-family: $font-mono;
      font-size: 1.2rem;
    }

    h2 {
      color: $accent-color;
    }

    h2,
    h3 {
      font-size: 2.2rem;
      margin: 0px;
    }
  }
}

//projects section

.projects {
  display: flex;
  flex-direction: column;
}

//About section

.about {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: 768px) {
    display: block;
  }

  &-content {
    max-width: 500px;

    &__skills {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      gap: 0px 10px;
      padding: 0px;

      li {
        padding-left: 23px;
        position: relative;
        font-family: $font-mono;
        margin-bottom: 10px;

        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 0px;
          width: 7px;
          height: 7px;
          border: 2px solid $accent-color;
        }
      }
    }
  }

  &-photo {
    overflow: hidden;
    height: 500px;
    margin-left: 5rem;

    @media only screen and (max-width: 600px) {
      margin-left: 0px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      bottom: -85px;
      position: relative;
    }
  }
}

//contact section

.contact-wrapper {
  text-align: center;
  margin-bottom: 10rem;

  p {
    max-width: 500px;
    margin: 0 auto;
  }
}
