/*hero*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-family: var(--font-mono);
  font-size: 1.2rem;
}

.hero h2 {
  color: var(--accent-color);
  font-size: 2.2rem;
  margin: 0px;
}

.hero h3 {
  font-size: 2.2rem;
  margin: 0px;
}

.hero p {
  margin: 1rem 0px;
  max-width: 50vw;
}

.hero-content {
  max-width: 60vw;
}

/*projects*/

.projects {
  display: flex;
  flex-direction: column;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.card-layout a {
  cursor: pointer;
}

.card {
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card:hover {
  top: -10px;
}

.content {
  height: 16rem;
  width: auto;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image-makers,
.card-image-cosmo,
.card-image-rainy {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5rem;
}

.card-heading {
  margin-left: 1rem;
  font-family: var(--font-mono), sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1rem;
}

/*project specific layout*/

.hero-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  height: 6rem;
  width: auto;
}

.hero-logo img {
  width: auto;
  height: 100%;
}

.makers {
  background-color: #f2ecde;
}

.cosmo {
  background-color: #60e6b2;
}

.rainy {
  background-color: #f6f6f6;
}

.project-heading {
  text-align: center;
}

.project-link {
  margin: 0px 1rem;
  text-decoration: underline;
}

.explanation {
  display: flex;
  margin: 6rem 2rem;
  gap: 2rem;
}

.explanation div {
  flex: 1;
}

.explanation p {
  height: 16rem;
}

/*About*/

.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  list-style: none;
}

.about-photo {
  max-width: 300px;
  overflow: hidden;
}

.about-content {
  max-width: 500px;
}

.about-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  bottom: -94px;
  position: relative;
}

.skills li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 7px;
  height: 7px;
  border: 2px solid var(--accent-color);
}

.skills li {
  padding-left: 23px;
  position: relative;
  font-family: "Roboto Mono";
  font-size: 1rem;
  margin-bottom: 10px;
}

/*contact*/

.contact-wrapper {
  text-align: center;
  margin-bottom: 10rem;
}

.contact-wrapper p {
  max-width: 500px;
  margin: 0 auto;
}
