:root {
  --dark-bg: #161515;
  --light-bg: #f9f9f9;
  --text-dark: #2d2f2b;
  --text-light: #d6d6d6;
}

.light {
  --text-main: var(--text-dark, black);
  --main-bg: var(--light-bg, white);
}
.dark {
  --text-main: var(--text-light, white);
  --main-bg: var(--dark-bg, black);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.page {
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow: scroll;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

main {
  flex: 1 0 auto;
  padding: 0px 8rem;
}

section {
  padding: 5rem 0px;
}

/*Footer*/

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
