*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.page {
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow: scroll;
}

html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

main {
  flex: 1 0 auto;
  padding: 0px 8rem;

  @media only screen and (max-width: 600px) {
    padding: 0px 3rem;
  }
}

section {
  padding: 5rem 0px;
  @media only screen and (max-width: 600px) {
    padding: 2rem 0px;
  }
}

.max {
  max-width: 50vw;

  @media only screen and (max-width: 600px) {
    max-width: 100vw;
  }
}

//footer

.footer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1rem 0px;

  &-icons {
    display: flex;
    gap: 1rem;
  }
}
