/*project specific layout*/

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hero-logo {
  height: auto;
  width: 10rem;
  text-align: center;
}

.hero-logo img {
  width: 100%;
  height: 100%;
}

.hero-logo p {
  margin: 0px;
}

.makers {
  background-color: #f2ecde;
}

.cosmo {
  background-color: #60e6b2;
}

.rainy {
  background-color: #f6f6f6;
}

.explanation {
  display: flex;
  margin: 6rem 2rem;
  gap: 2rem;
}

.explanation div {
  flex: 1;
}

.explanation p {
  height: 16rem;
}
