//project specific styles layout

.hero-wrapper-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .hero-logo-two {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_image {
      width: 100%;
      height: auto;
    }

    &_year {
      color: $text-light;
    }
  }
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-top: 1rem;

  .hero-logo {
    height: auto;
    width: 10rem;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      margin: 0px;
      color: $text-dark;
    }
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 600px) {
    ul {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
      gap: 1rem;
    }
  }

  > * {
    display: flex;
    gap: 2rem;
    padding: 0px;
  }
}

.project-overview {
  margin: 0 auto;

  ul {
    list-style-type: disc;
  }
}
