html {
  font-size: 100%;
}

body {
  font-family: $font;
  font-size: calc(13px + 0.3vw);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--text-main);
  cursor: pointer;
}

nav a {
  font-family: $font-mono;
  font-size: 1rem;
}

.technologies {
  ul {
    font-family: $font-mono;
  }
}

.hero-logo {
  p {
    font-family: $font-mono;
  }
}
