$accent-color: #35845c;
$shadow: #d7dad5;
$font-mono: "roboto mono", monospace;
$font: "roboto", sans-serif, Verdana, Geneva, Tahoma;
$text-dark: #2d2f2b;
$text-light: #d6d6d6;
$light-bg: #fffefe;
$dark-bg: #000012;

:root {
  --dark-bg: #{$dark-bg};
  --light-bg: #{$light-bg};
  --text-dark: #{$text-dark};
  --text-light: #{$text-light};
}

.light {
  --text-main: var(--text-dark, black);
  --main-bg: var(--light-bg, white);
}
.dark {
  --text-main: var(--text-light, white);
  --main-bg: var(--dark-bg, black);
}
