$accent-color: #35845c;
$shadow: #d7dad5;
$font-mono: "roboto mono", monospace;
$font: "roboto", sans-serif, Verdana, Geneva, Tahoma;

// $colours: (
//   green-colour: #48a274,
//   dark-text: #2d2f2b,
//   light-text: #d6d6d6,
//   dark-bg: #080808,
//   light-bg: #f9f9f9,
// );

// @function getColour($colour) {
//   @return map-get($colours, $colour);
// }
